*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;
}
body{
    font-family:Arial;
    background-color: #59546c;
}
nav{

    background:#0E131F ;
    height:75px;
    width:100%;
    position: fixed;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.fnt{
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;
    text-align: center;
    font-weight: bold;
}
label.logo{
    color:azure;
    font-size:34px;
    line-height:79px;
    padding:0 100px;
    font-weight:bold;
}

nav ul{
    float:right;
    margin-right:20px;
}

nav ul li{
    display:inline-block;
    line-height:75px;
    margin:0 5px;
}
nav ul li a{
    color:azure;
    font-size:17.1px;
    padding:7px 12px;
    border-radius:2.9px;
    text-transform:uppercase;
} 
section button{
    height: 15vh;
    width:20vw;
    text-align: center;
    border-radius: 5px;
}
section button:hover{
    cursor:pointer;
    background:#ff0035;
    transition:0.5s;

}

a.hoover,a:hover{
    background:#ff0035;
    transition:1s;
}
.checkbtn{
    font-size:30px;
    color:azure;
    float:right;
    line-height:75px;
    margin-right:80px;
    cursor:pointer;
    display:none;
}
#check{
    display:none;

}
@media(max-width:980px){
    label.logo{
        font-size:29.9px;
        padding-left:30px;
    }
    
    nav ul li a{
        font-size:15px;
    }
}

li button:hover{
    background-color: #ff0035;
    transition:0.5s;

}
@media(max-width:850px){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background:#8b939c;
        top: 75px;
        left:-100%;
        text-align:center;
        transition:all 1s;
    }
    ul li:nth-child(1){
    
        width:100vw;

    }
    .fnt{
        font-family: Arial, Helvetica, sans-serif;
        font-size:20px;
        text-align: center;
        font-weight: bold;
    }
    section button{
        height: 10vh;
        width:35vw;
        text-align: center;
        border-radius: 5px;
    }
    
    li button{
        height: 3vh;
        width:5vw;
        text-align: center;
        border-radius: 5px;
    }
    nav ul li{
        display:block;
        margin:50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size:19.9px;
    }
    a:hover,a.hoover{
        background:none;
        color:#ff0035;
    }
    #check:checked~ul{
        left:0;
    }
}
section{
    padding-top: 85px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
section img{
    width:250px;
    height:250px;
    margin: 15px;
}

#blog{
    display:flex;
    flex-direction: column;
}
#blogbody
{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    background-color: #131928;
    border-radius: 5px;
    width: 355px;
	height: 450px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#blogtitle 
{
    background: #0E131F;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 355px;
	height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px; 
}
#blogtitle p
{
    font-size: 18px;
    font-weight: 500;
    color: #b0c2c2;
    border-bottom: 3px solid #697878;
}
#blogcontent{
    background: #a5adc1;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 10px;
	width: 85%;
	height: 200px;
	border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#blogfooter
{
    background: #0E131F;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 355px;
	height: 60px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    color: #b0c2c2;
}
#blogcontent p{
    color: #383d3d;
	font-size: 14px;
	padding: 5px 18px;
}
#form{
    display:flex;
    flex-direction: column;
}
footer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    background-color: #ef233c;
    color:azure;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


